@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
:root {
  --bg: #4e94d0;
  --container: #ffffff;
}
body,
html {
  width: 100%;
  height: 100%;
  background-color: var(--bg);
  display: flex;
  align-items: center;
  justify-content: center;
}
.container {
  min-width: 350px;
  min-height: 50vh;
  background-color: var(--container);
  border-radius: 15px;
  padding: 1.5rem;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  .image {
    width: 100%;
    height: 20vh;
    background-image: url(images/jewel-usain.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 10px;
  }
  .content-box {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 10px;
    .artist {
      color: var(--bg);
      font-size: 1.2rem;
    }
    .title {
      color: var(--bg);
      font-size: 1.5rem;
      text-transform: capitalize;
    }
    .progress-bar {
      input {
        width: 100%;
      }
    }
    .play-pause {
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      #play {
        width: 50px;
      }
      #pause {
        width: 50px;
      }
    }
  }
}
