.content-box {
  width: 250px;
  height: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  .details {
    text-transform: capitalize;
    text-align: center;
    .title {
      color: white;
    }
    .artist {
      position: relative;
      bottom: 20px;
      color: rgb(252, 166, 252);
    }
  }
}


