@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");

body,
html {
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #310e68;
  background-image: linear-gradient(316deg, #310e68 0%, #5f0f40 74%);
}
